body {
    background-color: #ecf0f1;
}

.container {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
}

.header {
    color: #c0392b;
    border: 10px solid #2c3e50;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}

.menu-list {
    color: #ffffff;
    text-align: center;
    background-color: #2ecc71;
    width: 12%;
    display: inline-block;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 2px 2px5px grey;
}

.day-sat-sun{
   color: red;
    text-align: center;
    background-color: white;
    width: 12%;
    display: inline-block;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 2px 2px5px grey; 
}

.day{
   color: blue;
    text-align: center;
    background-color: white;
    width: 12%;
    display: inline-block;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 2px 2px5px grey; 
}

.day-born{
   color: green;
    text-align: center;
    background-color: black;
    width: 12%;
    display: inline-block;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 2px 2px5px grey; 
}